In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('https://drive.google.com/uc?id=1GBj0EDoKBIXhW4v4lG6SuNp0EaxVV3t5')
df

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,male,22.0,1,0,7.2500
1,1,1,female,38.0,1,0,71.2833
2,1,3,female,26.0,0,0,7.9250
3,1,1,female,35.0,1,0,53.1000
4,0,3,male,35.0,0,0,8.0500
...,...,...,...,...,...,...,...
882,0,2,male,27.0,0,0,13.0000
883,1,1,female,19.0,0,0,30.0000
884,0,3,female,7.0,1,2,23.4500
885,1,1,male,26.0,0,0,30.0000
886,0,3,male,32.0,0,0,7.7500

In [4]:
males_in_Pclass_2 = df.loc[df['Sex']=='male'].loc[df['Pclass']==2]

In [15]:
Avg_age_of_males_in_Pclass_2 = males_in_Pclass_2["Age"].sum()/males_in_Pclass_2["Age"].count()
Avg_age_of_males_in_Pclass_2

30.493796296296296

In [20]:
survived = df.loc[df['Survived']==1]

In [24]:
No_survived = survived["Survived"].count()
No_survived

342

In [34]:
male_fares = df.loc[df['Sex']=='male']["Fare"].mean()
female_fares = df.loc[df['Sex']=='female']["Fare"].mean()

Are_fares_of_males_higher_than_females = male_fares > female_fares
Are_fares_of_males_higher_than_females

False

In [37]:
Avg_age = df["Age"].mean()
Avg_age

29.471443066516347

44.47981783439491